<![CDATA[ <BizAgiWSParam>
                       <domain>$domain</domain>
                       <userName>$username</userName>
                       <Cases>
                          <Case>
                             <Process>$process</Process>
                             <Entities>
                                <SolicitudCredito>
                                   <Cliente>
                                      <Tipodeidentificacion>$typedocument</Tipodeidentificacion>
                                      <NumeroIdentificacion>$documentnumber</NumeroIdentificacion>
                                      <Apellido1>$apellido1</Apellido1>
                                      <Apellido2>$apellido2</Apellido2>
                                      <Nombre1>$nombre1</Nombre1>
                                      <Nombre2>$nombre2</Nombre2>
                                      <FechaNacimiento>$fechanacimiento</FechaNacimiento>
                                      <InformacionContacto>
                                        <TelefonoResidencia>$telefono</TelefonoResidencia>
                                        <CorreoPersonal>$correo</CorreoPersonal>
                                      </InformacionContacto>
                                      <InformacionFinanciera>
                                        <IngresosMensualesViabiliza>$ingresosmensuales</IngresosMensualesViabiliza>
                                      </InformacionFinanciera>
                                   </Cliente>
                                   <Vehiculo>
                                        <ValorVehiculo>$valorvehiculo</ValorVehiculo>
                                   </Vehiculo>
                                   <AutorizaConsultaaCentrales>$autorizaCentrales</AutorizaConsultaaCentrales>
                                </SolicitudCredito>
                             </Entities>
                          </Case>
                       </Cases>
                    </BizAgiWSParam>]]>